* { -webkit-box-sizing: border-box; box-sizing: border-box; }

body { background-color: #eeeeee; margin: 50px 0px; padding: 0; text-align: center; -ms-flex-line-pack: center; align-content: center; }

header { background-image: url("../Momentum-master/images/bg.jpg"); background-position: top center; background-repeat: no-repeat; background-size: 90rem; text-align: center; padding: 50px; color: black; }

header nav a { text-decoration: none; color: black; }

header ul { text-align: center; list-style-type: none; }

.title { text-align: center; }

.form { margin: 50px; border-radius: 10px; background-color: white; }

.form fieldset { background-color: white; padding: 35px; border-radius: 5px; border-color: transparent; text-align: left; }

.form label { margin-left: 5px; text-align: left; }

.form input { margin: 5px; }

.form .labelInput { margin: 10px; }

.form button { padding: 5px 17px; background-color: #01a1fd; border-color: transparent; border-radius: 5px; color: white; text-align: center; }
